
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	background-color: #f5f5f0;
}
.nav{
	height: 8vh;
	background: #283e4a;
	width: 100%;
	display: inline-block;
	position: relative;
}
nav{
	display: block;
	justify-content: center;
	text-align: center;
}
nav .logo{
	display: inline-block;
	align-items: center;
	float: left;
	margin-left: 8%;
}
form{
	text-align: center;
	float: left;
	margin-left:10px;
}
.input-icons i { 
    position: absolute; 
} 
          
.input-icons { 
    text-align: center;
} 
          
.icon { 
    padding: 6px; 
     
} 
          
.input-field { 
    width: 280px; 
    line-height: 20px;
    padding: 6px; 
    padding-left: 26px;
    background: #e0ebeb;
    border: none;
    outline: none;

} 
ul{
	float: none;
	display: block;
	font-size: 25px;
	margin-top: 9px;
	margin-left: 100px;
}
ul i{
	padding: 0 18px;
}
ul i:nth-child(6){
  border-right: 1px solid grey;
}

.fa-home{
	color: white
}


.fa-users{
	color: white;
	opacity: 0.5;
}
.fa-users:hover{
	opacity: 1;
}

.fa-briefcase{
	color: white;
	opacity: 0.5;
}
.fa-briefcase:hover{
	opacity: 1;
}

.fa-commenting-o{
	color: white;
	opacity: 0.5;
}
.fa-commenting-o:hover{
	opacity: 1;
}

.fa-bell{
	color: white;
	opacity: 0.5;
}
.fa-bell:hover{
	opacity: 1;
}

.fa-user-circle-o{
	color: white;
	opacity: 0.5;
}
.fa-user-circle-o:hover{
	opacity: 1;
}
.fa-th{
	color: white;
	opacity: 0.5;
}
.fa-th:hover{
	opacity: 1;
}



.row {
	height: 100%;
}

.card{
	float: left;
}

#card2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 40%;
  margin-left: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: arial;
  background-color: white;

}


#card1 {
	width: 15%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	height: 80%;
	margin-top: 2%;
	margin-right: 2%;
	margin-left: 7%;
	background-color: white;
}

#card3 {
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	background-color: white;
	height: 90%;
	margin-top: 2%;
	margin-left: 2%;
}

.card-header{
	padding: 5px;
	height: 35px;
	border-bottom: 1px solid #e0e0d1;
}
.profile {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 6px;
}

.content img{
	text-align: center;
	width: 100%;
  	height: 500px;
}


.mdc-button{
	outline: none;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	margin: 6px;
	font-size: 16px;
}
.mdc-button:hover{
	opacity: 1;
}
.fa-thumbs-o-up{
	opacity: 0.6;
}
.fa-thumbs-o-up:hover{
	opacity: 1;
}
.fa-comment-o{
	opacity: 0.6;
}
.fa-comment-o:hover{
	opacity: 1;
}
.fa-share{
	opacity: 0.6;
}
.fa-share:hover{
	opacity: 1;
}
.fa-paper-plane-o{
	opacity: 0.6;
}
.fa-paper-plane-o:hover{
	opacity: 1;
}





.like-button{
	cursor: pointer;
	transition: transform 50ms ease-in-out;
	overflow: visible;
	outline: none;
	border: none;
	opacity: 0.8;
	margin: 6px;
	font-size: 16px;
}

.like-button.big{
	transform: scale(1.3);
}
.like-button:hover{
	opacity: 1;
}

.Comment-button{
	margin: 6px;
	font-size: 16px;
	border: none;
	outline: none;
	opacity: 0.8;
}
.Comment-button:hover{
	opacity: 1;
}





@media screen and (max-width: 600px) {
	.nav ul{
		display: none;
	}
	nav div{
		text-align: center;
		align-content: center;
		padding-top: 6px;
	}
	nav form{
		padding-top: 6px;
	}
	#card1{
		display: none;
	}

	#card3{
		display: none;
	}
	#card2{
		min-width: 100%;
	}
	#card2 .reactions{
		font-size: 24px;
		padding-left: 15%;
	}
}





















